body {
    font-family: Arial, sans-serif;
    background: #6528d8;
    color: white;
    padding: 30px;
}

.navbar {
    height: 70px;
    padding: 0 4%;
    color: #ffffff;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1, h2 {
    color: #ffffff;
}

form {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

#artist-input {
  width: 560px;
  max-width: 70%;
  padding: 16px 20px;
  border: 1px solid #3b177c;
  border-right: none;
  border-radius: 18px 0 0 18px;
  background: #7f4bd8;
  color: white;
  font-size: 18px;
  outline: none;
}

#artist-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

button {
  padding: 16px 24px;
  border: 1px solid #3b177c;
  border-radius: 0 18px 18px 0;
  background: #5f28c9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #9360e8;
}

hr {
    margin-top: 25px;
    border: none;
    border-top: 1px solid white;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.album {
    background:
        linear-gradient(#936fd7, #7943dc) padding-box,
        linear-gradient(135deg, #ffffff, #7c3aed, #00c2ff) border-box;
    backdrop-filter: blur(12px);
    border: 1px solid #3f1096;
    border-radius: 18px;
    padding: 18px;
    transition: transform 0.40s ease, box-shadow 0.25s ease;
}

.album:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #190342;
}

.album img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 30px #371080;
}

.album a {
    color: #ffffff;
    text-decoration: underline;
}